

/*main*/

.main-sec {

    display: flex;
    width: 100%;
    height: 100%;

}

.text {
    width: 50%;
    height: 100%;
}

.image-container {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.text-section {
    width: 100%;
    height: auto;
    margin-top: 16%;
    margin-left: 15%;
}

.text-section h6 {
    text-transform: uppercase;
    color: rgb(199, 191, 191);
    font-size: 17px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
        0 0 10px rgba(255, 255, 255, 0.7);
}

.text-section h5 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 27px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
        0 0 10px rgba(255, 255, 255, 0.7);
}

.pera {
    width: 100%;
    height: auto;
}

.text-section p {
    width: 80%;
    font-size: 15px;
    line-height: 1.6;
    color: #b8b3b3;
    margin-top: 1rem;
    word-spacing: 0.2rem;
    text-align: left;
}

.typewrite {

    font-weight: 600;
    font-size: 2.5rem;
    color: #ffffff;
    display: inline-block;
    min-Height: 40px;
    margin-Top: 5px;
    color: rgba(255, 0, 0, 1);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
        0 0 10px rgb(245, 61, 90);
}



.explosion-background {
    position: fixed;
    right: -170px;
    bottom: -50px;
    max-width: 600px;
    height: auto;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    mix-blend-mode: color-dodge;
    z-index: 0;
    display: none;
}

.top-left-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    mix-blend-mode: color-dodge;
    z-index: 0;
    display: block;
}

/*Software*/
.software {
    display: flex;
    align-items: center;
    gap: 33px;
    margin-top: 30px;
}

.software .software_item {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 44, 255, 0.1);
}

.cv {

    display: flex;
    gap: 20px;

}

.cv button {

    background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(227, 0, 0, 1) 60%, rgba(184, 0, 0, 1) 100%);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 50px 40px 10px 0px;
    font-size: 13px;
}

/*img-box*/
.img-box {
    position: relative;
    width: 31vw;
    height: 31vw;
    /* margin: 150px; */
    margin-left: 25%;
    margin-top: 17%;
    border-radius: 50%;
    padding: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}

.img-box::before,
.img-box::after {
    content: '';
    position: absolute;
    width: 540px;
    height: 540px;
    background: conic-gradient(transparent, transparent, transparent, rgb(225, 45, 62));
    top: 0.1px;
    left: -1px;
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}


.img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 8, 31);
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    border: .1px solid #0e1117;
    z-index: 1;

}

.img-box img {
    top: 30px;
    position: relative;
    display: block;
    width: 80%;
    object-fit: contain;
    transform: translateX(0%, 1%);
    mix-blend-mode: lighten;
    transform: translate(11%, 2%);
    mix-blend-mode: lighten;
}




/* Extra small devices (phones, less than 576px) */
@media (max-width: 576px) {
    .social-media {
        padding: 4px;
    }

    .list {
        margin-right: 5px;
    }

    li {
        margin: 5px 9px 10px 15px;
        font-size: 18px;
    }

    .top-right-image {
        display: none;
    }

    /*main*/

    .main-sec {
        display: grid;
        position: relative;
        overflow: hidden;
    }

    .text {
        width: 100%;
        height: 100%;
        order: 2;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .image-container {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        order: 1;
    }

    .text-section {
        margin: 5% 2% 0% 2%;
    }

    .text-section h6 {
        font-size: 14px;
        font-weight: 500;
    }

    .text-section h5 {
        font-weight: 500;
        font-size: 18px;
    }

    .pera {
        width: 100%;
        /* Ensure full width */
        display: flex;
        /* Use flexbox to center the content */
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
    }

    .text-section p {
        line-height: 1.4;
        width: 100%;
        /* Make sure paragraph takes the full width */
        font-size: 13px;
        text-align: center;
        /* Center-align the paragraph text */
        padding: 5px;
        /* Add padding for better readability */
        word-break: break-word;
        /* Prevent long words from breaking layout */
    }

    .typewrite {
        font-size: 1.4rem;
        min-Height: 20px;
        margin-Top: 3px;

    }



    .explosion-background {
        position: fixed;
        right: -100px;
        bottom: -20px;
        width: 350px;
        height: auto;
        background-size: cover;
        background-position: bottom right;
        background-repeat: no-repeat;
        mix-blend-mode: color-dodge;
        z-index: 0;
        display: block;
    }

    .top-left-image {
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 200px;
        background-size: cover;
        background-position: bottom right;
        background-repeat: no-repeat;
        mix-blend-mode: color-dodge;
        z-index: 0;
        display: block;
    }

    .top-right-image {}

    /*Software*/
    .software {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 20px;

    }

    .software .software_item {
        height: 30px;
        width: 30px;
        display: flex;
    }

    .cv {
        display: grid;
        margin: 30px 10px 60px 10px;
        justify-content: center;
        align-items: center;
    }

    .cv button {
        padding: 13px 30px;
        font-size: 13px;
        width: 200px;
        margin: 0;
    }

    /*img-box*/
    .img-box {
        position: relative;
        width: 38vw;
        height: 38vw;
        /* margin: 150px; */
        margin-top: 3%;
        margin-left: 30%;
        border-radius: 50%;
        padding: 4px;
        overflow: hidden;
        display: block;
    }

    .img-box::before,
    .img-box::after {
        animation: rotate-border 3s linear infinite;
    }

    .img-box::after {
        animation-delay: -8s;
    }



    .img-box .img-item {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgb(15, 8, 31);
        border-radius: 50%;
        display: flex;
        overflow: hidden;
        border: .1px solid #0e1117;
        z-index: 1;

    }

    .img-box img {
        top: 30px;
        position: relative;
        display: block;
        width: 80%;
        object-fit: contain;
        transform: translateX(0%, 1%);
        mix-blend-mode: lighten;
        transform: translate(11%, 2%);
        mix-blend-mode: lighten;
    }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 577px) and (max-width: 768px) {
    .social-media {
        padding: 4px;
    }

    .list {
        margin-right: 20px;
    }

    li {
        margin: 10px 5px 10px 25px;
        font-size: 20px;
    }


    /*main*/

    .main-sec {
        display: grid;
    }

    .text {
        width: 100%;
        height: 100%;
        order: 2;
    }

    .image-container {
        width: 100%;
        height: 100%;
        order: 1;


    }

    .text-section {
        margin-top: 2%;
        margin-left: 10%;
    }

    .text-section h6 {
        font-size: 18px;
    }

    .text-section h5 {
        font-size: 24px;
    }


    .typewrite {
        font-size: 2.2rem;
        min-Height: 20px;
    }

    /*img-box*/
    .img-box {
        width: 31vw;
        height: 31vw;
        margin-top: 2%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 992px) {
    .social-media {
        padding: 3px;
    }

    .list {
        margin-right: 20px;
    }

    .list li {
        margin: 10px 5px 10px 25px;
        font-size: 20px;

    }


    /*main*/

    .main-sec {
        display: grid;
    }

    .text {
        width: 100%;
        height: 100%;
        order: 2;

    }

    .image-container {
        order: 1;
    }

    .text-section {
        margin-top: 2%;
        padding: 0;
        margin-left: 0%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text-section h6 {
        font-size: 17px;
    }

    .text-section h5 {
        font-size: 24px;
    }

    .text-section p {
        line-height: 1.6;
        margin-top: 1.5rem;
        word-spacing: 0.2rem;
        text-align: center;
        margin-left: 9%;
    }

    .typewrite {
        font-size: 2.2rem;
    }

    /*Software*/
    .software {
        justify-content: center;
        gap: 38px;
        margin-top: 20px;
    }

    .software .software_item {
        height: 40px;
        width: 40px;

    }

    .cv {
        justify-content: center;
        gap: 20px;

    }

    .cv button {

        padding: 22px 30px;
        font-size: 15px;

        margin: 60px 40px 10px 0px;

    }

    /*img-box*/
    .img-box {
        position: relative;
        width: 35vw;
        height: 35vw;
        margin-left: 55%;
        margin-bottom: 5%;
        margin-top: 0;
        border-radius: 50%;
        padding: 6px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 993px) and (max-width: 1200px) {
    .social-media {
        padding: 1px;
    }

    .list {
        margin-right: 10px;
    }

    li {
        margin: 10px 2px 10px 23px;
        font-size: 20px;
    }


    .text-section {
        margin-top: 12%;
        margin-left: 10%;
    }

    .text-section h6 {
        font-size: 14px;
    }

    .text-section h5 {
        font-size: 22px;
    }

    .text-section p {
        max-width: 90%;
        font-size: 13px;
        line-height: 1.6;
        margin-top: 10px;

    }

    .typewrite {
        font-size: 2rem;
        display: inline-block;
        min-Height: 40px;
        margin-Top: 5px;
    }


    /*Software*/
    .software {
        gap: 30px;
        margin-top: 20px;
    }

    .software .software_item {
        height: 32px;
        width: 32px;
    }

    .cv {
        display: flex;
        gap: 20px;
    }

    .cv button {
        padding: 15px 30px;
        font-size: 12px;
        margin: 40px 30px 10px 0px;
    }

    /*img-box*/
    .img-box {
        width: 34vw;
        height: 34vw;
        margin-left: 15%;
        margin-top: 15%;
        border-radius: 50%;
        padding: 5px
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    .social-media {
        padding: 3px;
    }

    .list {
        margin-right: 20px;
    }

    li {
        margin: 10px 5px 10px 25px;
        font-size: 22px;
    }





    .text-section {
        width: 100%;
        height: auto;
        margin-top: 16%;
        margin-left: 10%;
    }

    .text-section h5 {
        font-size: 24px;

    }



    .text-section p {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.6;
        color: #b8b3b3;
        margin-top: 1rem;
        word-spacing: 0.2rem;
        text-align: left;
    }

    .typewrite {
        font-size: 1.9rem;
        margin-Top: 3px;
    }



    /*Software*/
    .software {
        gap: 30px;
        margin-top: 25px;
    }



    /*img-box*/
    .img-box {
        width: 32vw;
        height: 32vw;
        margin-left: 20%;
        margin-top: 12%;
        border-radius: 50%;
        padding: 5px;
}

}