.tech .software {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.tech .software .software_item {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 44, 255, 0.1);
}

@media (max-width: 576px) {
    .tech{
        margin: 10px 10px 100px 0px;
        justify-content: left;
    }
    .tech .software {
     gap: 28px;
       margin: 19px;
    }
    
    .tech .software .software_item {
        height: 28px;
        width: 28px;
   
    } 
}
@media (min-width: 769px) and (max-width: 992px){
   
    .tech .software {
        justify-content: left;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
   
    .tech .software {
     gap: 30px;
       margin: 25px;
    }
    
    .tech .software .software_item {
        height: 30px;
        width: 30px;
   
    } 
}
@media (min-width: 1200px){
    .tech .software {
        gap: 30px;
       margin: 0;
       }
       .tech .software .software_item {
        height: 30px;
        width: 30px;
        margin: 10px 10px 10px 10px;
    } 
}